In [51]:
import math
import pandas as pd 
import numpy as np
import statsmodels.api as sm
from scipy import stats

df = pd.read_csv("HW1data.csv")
df

,AGE,BATHS,BEDROOMS,FIREPLACE,OWNER,POOL,PRICE,SQFT,TRADITIONAL,WATERFRONT
0,18,1,1,1,1,1,66500,741,1,0
1,18,1,1,0,0,1,66000,741,1,0
2,18,1,1,1,1,0,68500,790,1,0
3,18,2,2,1,1,0,102000,2783,1,0
4,35,1,2,0,0,0,54000,1165,1,0
...,...,...,...,...,...,...,...,...,...,...
1075,25,3,5,1,1,0,122570,2853,0,0
1076,13,3,5,1,0,1,185000,4599,0,0
1077,13,3,5,1,0,1,1280000,7086,0,1
1078,25,2,5,0,1,0,123808,3148,0,0
1079,25,4,7,1,1,1,374000,6203,0,0

1a. Test that the expected price of a house of 2000 square feet is equal to, or less than, $120,000. What is the p-value of the test?

$H_0: \beta_1 + 2000 * \beta_2 = 120,000 $

$H_1: \beta_1 + 2000 * \beta_2 < 120,000 $

In [61]:
# Same model from last HW
dft = df.loc[df.TRADITIONAL == 1, ["PRICE", "SQFT"]]
model = sm.OLS(endog = dft.PRICE, exog = sm.add_constant(dft.SQFT), weights = math.e).fit()

B1 = model.params["const"]
B2 = model.params["SQFT"]
SE = model.params["std err"]

tstat = ((B1 + 2000 * B2) - 120000)/SE

if tstat < -2.33:
    print("Reject null hypothesis. We can conclude that the expected \
                \nprice of a 2000 sqft house is <= $120,000")
else:
    print("Fail to reject null hypothesis. We cannot conclude that the expected \
                \nprice of a 2000 sqft house is <= $120,000.")

print(f"\nt-stat: {tstat:.4f}")

pvalue = 1 - stats.t.cdf(tstat, df = 2)
print(f"p-value: {pvalue:.4f}")

Fail to reject null hypothesis. We cannot conclude that the expected
price of a 2000 sqft house is <= $120,000.

t-stat: -0.4006
p-value: 0.6363

1b.	Construct a 95% interval estimate of the expected price of a house of 2000 square feet.

In [59]:
t_alpha = 1.96 # for 95% 
lower = (B1 + 2000 * B2) + t_alpha * SE 
upper = (B1 + 2000 * B2) - t_alpha * SE 

[upper, lower]

[114910.57794021294, 123362.09794021293]

1c.	Construct a 95% prediction interval for the value of a house of 2000 square feet.

In [102]:
SE_pred = math.sqrt((SE**2) + (79821.70**2))
lower = (B1 + 2000 * B2) + t_alpha * SE_pred
upper = (B1 + 2000 * B2) - t_alpha * SE_pred

[upper, lower]

[23623.96994021267, 214648.70594021268]

2a. Textbook Problem 5.5

All variables except ROOMS and ACCESS have a negative influence. ROOMS and ACCESS have a positive influence.

2b. Textbook Problem 5.5

In [113]:
t_alpha = 1.96 

crime = [-.1834 - t_alpha * .0365, -.1834 + t_alpha * .0365]
access = [.2723 - t_alpha * .0723, .2723 + t_alpha * .0723]

print("Crime: ", crime)
print("Access: ", access)

Crime:  [-0.25494, -0.11186000000000001]
Access:  [0.13059199999999999, 0.414008]

2c. Textbook Problem 5.5



$\beta_r = 7$

$\beta_r < 7$

In [115]:
tstat = (6.3715 - 7)/.3924 

if tstat > .05:
    print("Reject null")
else:
    print("Fail to reject null")

print(f"t-stat: {tstat:.4f}")

Fail to reject null
t-stat: -1.6017

2d. Textbook Problem 5.5

$\beta_{ptr} = 1$

$\beta_{ptr} < -1$

In [116]:
tstat = (-1.1768 - (-1))/.1394

if tstat > .05:
    print("Reject null")
else:
    print("Fail to reject null")

print(f"t-stat: {tstat:.4f}")

Fail to reject null
t-stat: -1.2683

Skipped #3